<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ぜんぶひらく.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <userSettings>
    <ぜんぶひらく.My.MySettings>
      <setting name="chbIsWindowsAutoRun" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="filePath1" serializeAs="String">
        <value>C:\Windows\explorer.exe</value>
      </setting>
      <setting name="chbIsStartAutoRun" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="chbDoubleRun" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="filePath2" serializeAs="String">
        <value />
      </setting>
      <setting name="filePath3" serializeAs="String">
        <value />
      </setting>
      <setting name="filePath4" serializeAs="String">
        <value />
      </setting>
      <setting name="filePath5" serializeAs="String">
        <value />
      </setting>
      <setting name="filePath6" serializeAs="String">
        <value />
      </setting>
      <setting name="filePath7" serializeAs="String">
        <value />
      </setting>
      <setting name="filePath8" serializeAs="String">
        <value />
      </setting>
      <setting name="filePath9" serializeAs="String">
        <value />
      </setting>
      <setting name="filePath10" serializeAs="String">
        <value />
      </setting>
      <setting name="filePath11" serializeAs="String">
        <value />
      </setting>
      <setting name="filePath12" serializeAs="String">
        <value />
      </setting>
      <setting name="filePath13" serializeAs="String">
        <value />
      </setting>
      <setting name="filePath14" serializeAs="String">
        <value />
      </setting>
      <setting name="filePath15" serializeAs="String">
        <value />
      </setting>
      <setting name="filePath16" serializeAs="String">
        <value />
      </setting>
      <setting name="filePath17" serializeAs="String">
        <value />
      </setting>
      <setting name="filePath18" serializeAs="String">
        <value />
      </setting>
      <setting name="filePath19" serializeAs="String">
        <value />
      </setting>
      <setting name="filePath20" serializeAs="String">
        <value />
      </setting>
      <setting name="filePath21" serializeAs="String">
        <value />
      </setting>
      <setting name="filePath22" serializeAs="String">
        <value />
      </setting>
      <setting name="filePath23" serializeAs="String">
        <value />
      </setting>
      <setting name="filePath24" serializeAs="String">
        <value />
      </setting>
      <setting name="filePath25" serializeAs="String">
        <value />
      </setting>
      <setting name="filePath26" serializeAs="String">
        <value />
      </setting>
      <setting name="filePath27" serializeAs="String">
        <value />
      </setting>
      <setting name="filePath28" serializeAs="String">
        <value />
      </setting>
      <setting name="filePath29" serializeAs="String">
        <value />
      </setting>
      <setting name="filePath30" serializeAs="String">
        <value />
      </setting>
      <setting name="filePath31" serializeAs="String">
        <value />
      </setting>
      <setting name="fileDelay2" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="fileDelay3" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="fileDelay4" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="fileDelay5" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="fileDelay6" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="fileDelay7" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="fileDelay8" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="fileDelay9" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="fileDelay10" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="fileDelay11" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="fileDelay12" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="fileDelay13" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="fileDelay14" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="fileDelay15" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="fileDelay16" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="fileDelay17" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="fileDelay18" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="fileDelay19" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="fileDelay20" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="fileDelay21" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="fileDelay22" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="fileDelay23" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="fileDelay24" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="fileDelay25" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="fileDelay26" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="fileDelay27" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="fileDelay28" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="fileDelay29" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="fileDelay30" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="fileDelay31" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="disabled1" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="disabled2" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="disabled3" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="disabled4" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="disabled5" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="disabled6" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="disabled7" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="disabled8" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="disabled9" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="disabled10" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="disabled11" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="disabled12" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="disabled13" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="disabled14" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="disabled15" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="disabled16" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="disabled17" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="disabled18" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="disabled19" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="disabled20" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="disabled21" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="disabled22" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="disabled23" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="disabled24" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="disabled25" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="disabled26" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="disabled27" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="disabled28" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="disabled29" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="disabled30" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="disabled31" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="windowState1" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="windowState2" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="windowState3" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="windowState4" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="windowState5" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="windowState6" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="windowState7" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="windowState8" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="windowState9" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="windowState10" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="windowState11" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="windowState12" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="windowState13" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="windowState14" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="windowState15" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="windowState16" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="windowState17" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="windowState18" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="windowState19" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="windowState20" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="windowState21" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="windowState22" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="windowState23" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="windowState24" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="windowState25" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="windowState26" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="windowState27" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="windowState28" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="windowState29" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="windowState30" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="windowState31" serializeAs="String">
        <value>0</value>
      </setting>
    </ぜんぶひらく.My.MySettings>
  </userSettings>
</configuration>